body{
    font-family: Arial;
    text-align:center;
    background:#f5f2e8;
    }
    
    .bookshelf{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    background:url("https://i.imgur.com/J6i9X8K.png");
    background-size:cover;
    padding:40px;
    min-height:300px;
    }
    
    .book{
    margin:10px;
    cursor:pointer;
    }
    
    .book img{
    height:150px;
    border-radius:3px;
    box-shadow:0 5px 8px rgba(0,0,0,.3);
    }
    
    #results img{
    height:120px;
    margin:10px;
    cursor:pointer;
    }